@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-width {
    @apply 3xl:w-2/3 w-full px-5 lg:mx-auto lg:w-[90%] lg:px-0;
  }
}

/* removes scrollbar */
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
body {
  -ms-overflow-style: none;
}
